# Supabase Configuration
VITE_SUPABASE_URL=sua_url_do_supabase
VITE_SUPABASE_ANON_KEY=sua_chave_anon_do_supabase

# Storage Base URL (Exemplo: https://xxxx.supabase.co/storage/v1/object/public)
VITE_SUPABASE_STORAGE_URL=https://sua_id.supabase.co/storage/v1/object/public

# App Settings
VITE_APP_NAME=Ponta Firme FC
